* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);
  --pragraphFont: 16px;
}

p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(../image/pattern-background-desktop.svg);
  background-color: var(--PaleBlue);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  place-items: center;
  line-height: 1.6;
}

.parent {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  flex-wrap: wrap;
  border-radius: 1rem;
  align-items: center;
  background: white;
}

@media (max-width: 767px) {
  .parent {
    margin: 0 1em;
  }
}

.parent > img {
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/********************************************************************************/
.parent .content .main {
  color: var(--DarkBlue);
  font-weight: 900;
  font-size: 20px;
  margin: 1em 0 0.5em;
}

.parent .content .text {
  font-size: 14px;
  color: var(--DesaturatedBlue);
  padding: 0 15px;
  width: 35ch;
}

@media (max-width: 767px) {
  .parent .content .text {
    width: 27ch;
  }
}

.content {
  grid-area: cont;
  text-align: center;
}

.prices {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2em 0;
}
.prices .icon {
  margin-right: 1em;
}

.prices .plan {
  color: var(--DarkBlue);
  font-weight: 700;
  margin-right: 3em;
}
.prices .plan span {
  color: var(--DesaturatedBlue);
  font-size: 15px;
}

.prices .link {
  grid-area: cncl;
  align-self: center;
  justify-self: center;
  color: var(--BrightBlue);
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--BrightBlue);
  bottom: 22%;
  left: 0;
}
.prices .link:hover {
  cursor: pointer;
}

.footer {
  grid-area: btn;
  text-align: center;
  justify-self: center;
}

.footer .button {
  margin-bottom: 30px;
  padding: 10px;
  width: 30ch;
  border-radius: 10px;
  color: var(--VeryPaleBlue);
  box-shadow: 0px 5px 20px 0px grey;
  background-color: var(--BrightBlue);
}

@media (max-width: 767px) {
  .footer .button {
    width: 25ch;
  }
}

.footer .button:hover {
  cursor: pointer;
}

.footer .cancel {
  font-size: 14px;
  color: var(--DesaturatedBlue);
  margin: 2em 0;
}

.footer .cancel:hover {
  cursor: pointer;
}
